@media only screen and (max-width: 390px) {

    .products {
    
        &__item {
            flex-direction: column;
            margin: $m-3 0;
        }

        &__top {
            flex-direction: column;
            margin: $m-1 0;
            gap: 1rem;
        }

        &__bottom {
            text-align: center;
        }
    }
}