@media only screen and (max-width: 390px) {

    .products {
    
        &-item {
            flex-direction: column;
            margin: $m-3 0;
        }

        &-top {
            flex-direction: column;
            margin: $m-1 0;
            gap: 1rem;
        }

        &-bottom {
            text-align: center;
        }
    }
}