@media only screen and (max-width: 662px) {

    .header {
        display: block;
        text-align: center;
    }

    .menu-icon {
        display: inline-block;
    }

    .product {
        display: block;
       }

    .products {
        width: 100%;
        padding: 1rem 4rem 0 3rem;
       }

    .section-4 {
        
        &-blocks {
            padding-right: $p-7;
        }

        &-block {
            margin: $m-1 0;

        }
    }

    .section-contacts {

        &__image {
            width: 40rem;
        }

        &-block-1 {
            width: auto;
        }
    }

    .footer {
        height: 3rem;
    }

    .section-gallery-block {
        gap: 1rem;
    }

    .btn-primary {
        letter-spacing:normal;
    }

    .btn_news {
        width:fit-content;
       }

       .section-1__poster-container {
        gap: 1rem;
        
        margin-right: $m-1;
        margin-left: 0;
       }
}