@media only screen and (max-width: 768px) {

    .title {
        margin: $m-3 0 0 0;
    }

    .header {
        padding: $p-2 $p-3;

        &__menu {
            @include flex();
        }
    }

    .navbar {
        
        &__lists {
            display: block;
            width: 100%;
            position: relative;
            top: 0px;
            right: 0;

            z-index: 2;
        }

        &__list {
            margin-top: 10px;
            margin-bottom: 10px;
            z-index: 10;
        }

        &__link {
            margin: 0;
        }
    }

    .menu-icon {
        display: block;
        color: $color-white;
    }

    #menulist {
        overflow: hidden;
        transition: .5s;
    }

    .section-1 {
        flex-direction: column;
        margin: 0;

        &-first-element {
            height: 35rem;
            margin: 0 0 $m-3 0;
            width: 77%;
        }

        &-second-element {
            flex-basis: 100%;
        }
    }

    .section-2 {
        margin-top: 5rem;
    }

    .products {
        margin: 0;

        &-item {
            margin: $m-1 0 0 0;
        }

        &-photo {
            margin: 0 $m-1;
        }

        &__price {
            padding: $p-0-5 $p-1;
        }
    }

    .section-3 {
        margin: $m-7 0 0 0;
        padding: 0;
        flex-direction: column;
        position: relative;

        &-text-block {
            width: auto;
            z-index: 2;
            margin-top: $m-3;
        }

        &-image {
            width: 100%;
            margin: 0 auto;
            position: absolute;
            top: 0;
            z-index: 1;
            opacity: .5;
        }

        &__img {
            height: 70rem;
        }
    }

    .section-4 {
        margin-top: $m-10;

        &-blocks {
            justify-content: space-around;
            width: 50rem;
        }

        &-two-blocks {
            flex-direction: column;
        }
    }

    .s-4 {
        margin-top: 28px;
    }

    .section-contacts {
        margin-top: $m-3;
        height: 90rem;

        &-blocks {
            flex-direction: column-reverse;
        }

        &__image {
            width: 50rem;
            margin: 3rem 0;
        }

        &-block-1 {
            width: 100%;
            margin: 0;
            height: auto;
        }

        .section-contacts__text {
            margin-top: $m-1;
        }
    }

    .section__gallery {

        &-block {
            grid-template-columns: 1fr 1fr;
            margin: $m-2;
            gap: 2rem;
        }
    }

    .section-1__poster {

        &-container {
            grid-template-columns: 1fr 1fr;
            margin: $m-2 $m-2 $m-7;
            gap: 2rem;
        }
    }

    .card-body {
        padding: $p-1;
    }

    .btn-primary {
        padding: $p-0-5 $p-1;
    }

    .btn_news {
        margin-left: $m-1;
    }
}
