// COLOR
$primary-color: #333333;
$secondary-color: #D5621D;
$secondary-color-1: rgb(213, 98, 29, .1);
$secondary-color-not-active: #b6561b;
$color-white: #ffffff;
$color-white-1: rgb(106, 70, 70, .5);
$color-black: #000000;
$color-black-1: #210E09;
$color-hover: blue;

// FONT-SIZE
$font-14: 14px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-32: 32px;
$font-40: 40px;


// FONT-WEIGHT
$font-w-400: 400;
$font-w-700: 700;

// FONT-FAMILY
$font-family: 'Signika', sans-serif;

// PADDING
$p-0-5: 0.5rem;
$p-1: 1rem;
$p-1-5: 1.5rem;
$p-2: 2rem;
$p-3: 3rem;
$p-4: 4rem;
$p-7: 7rem;

// MARGIN
$m-1: 1rem;
$m-1-5: 1.5rem;
$m-2: 2rem;
$m-3: 3rem;
$m-4: 4rem;
$m-5: 5rem;
$m-7: 7rem;
$m-10: 10rem;
